.App {
  height:100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(247, 78, 129);
  height: 10%;
  color: white;
}

.App-title {
  display: inline-block;
  font-size:150%;
}

.App-intro {
  font-size: large;
}

.content {
  height:90%;
}
.slide {
  box-sizing: border-box;
  height:30%;
  padding:1%;
  background-color:rgb(204, 207, 33)
}
.slide-bar {
  width:60%;
  height:100%;
  margin:0 auto;

}
.slide-img-main {
  position: relative;
  float:left;
  width:30%;
  height:100%;
  z-index: 10;
}

.slide-img-left {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-left:7%;
  margin-right:-3%;
  z-index: 1;
}

.slide-img-right {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
}

.slide img {
  display:block;
  width:100%;
  height:100%;
  /* border-radius: 3%; */
}

.article {
  width:100%;
  height:70%;
  background-color: aquamarine;
}

.article-left, .article-right{
  width:20%;
  height:100%;
  background-color: aqua;
}

.article-left {
  float:left;
}

.article-right {
  float:right;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
