.App {
  height:100%;
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: rgb(247, 78, 129);
  height: 10%;
  color: white;
}

.App-title {
  display: inline-block;
  font-size:150%;
}

.App-intro {
  font-size: large;
}

.content {
  height:90%;
}
.slide {
  box-sizing: border-box;
  height:30%;
  padding:1%;
  background-color:rgb(204, 207, 33)
}
.slide-bar {
  width:60%;
  height:100%;
  margin:0 auto;

}
.slide-img-main {
  position: relative;
  float:left;
  width:30%;
  height:100%;
  z-index: 10;
  overflow:hidden;
}

.movemain {
  position: relative;
  float:left;
  width:30%;
  height:100%;
  z-index: 10;
  animation:movemain 1s;
}

.movemain1 {
  position: relative;
  float:left;
  top:-100%;
  left:30%;
  width:30%;
  height:100%;
  z-index: 10;
  animation:movemain1 1s;
}

.awaymain {
  position: relative;
  float:left;
  width:30%;
  height:100%;
  z-index: 10;
  left:-1000px;
}

.awaymain1 {
  position: relative;
  float:left;
  top:-100%;
  width:30%;
  height:100%;
  z-index: 10;
}
.slide-img-left {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-left:7%;
  margin-right:-3%;
  z-index: 1;
  overflow:hidden;
}

.moveleft {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  margin-top:1%;
  /* margin-left:7%; */
  margin-right:-3%;
  z-index: 1;
  animation:moveleft 1s;
}

.moveleft1 {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  top:-100%;
  left:30%;
  margin-top:1%;
  /* margin-left:7%; */
  margin-right:-3%;
  z-index: 1;
  animation:moveleft1 1s;
}

.awayleft {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  margin-top:1%;
  /* margin-left:7%; */
  margin-right:-3%;
  z-index: 1;
  left:-1000px;
}

.awayleft1 {
  position: relative;
  float:left;
  width:30%;
  height:90%;
  top:-100%;
  margin-top:1%;
  /* margin-left:7%; */
  margin-right:-3%;
  z-index: 1;
}
.slide-img-right {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
  overflow:hidden;
}

.moveright {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
  animation:moveright 1s;
}

.moveright1 {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  top:-100%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
  animation:moveright1 1s;
}

.awayright {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
  left:-1000px;
}

.awayright1 {
  position: relative;
  float:right;
  width:30%;
  height:90%;
  top:-100%;
  margin-top:1%;
  margin-right:7%;
  margin-left:-3%;
  z-index: 1;
}

.slide img {
  float:left;
  display:block;
  width:100%;
  height:100%;
  
  /* border-radius: 3%; */
}

.slide .img1 {
  position:relative;
  float:left;
  display:block;
  top:-100%;
  left:100%;
  width:100%;
  height:100%;
  
  /* border-radius: 3%; */
}

.article {
  width:100%;
  height:70%;
  background-color: aquamarine;
}

.article-center{
  width:60%;
  height:100%;
  float:left;
}

.article-center .poem{
  width:70%;
  margin:0 auto;
}

.article hr{
  width:70%;
}
.article-left, .article-right{
  width:20%;
  height:100%;
  background-color: aqua;
}

.article-left {
  float:left;
}

.article-right {
  float:right;
}

@keyframes movemain {
  0% {left:0px;}
  100% {left:-100%;}
}

@keyframes moveright {
  0% {left:0px;}
  100% {left:-100%;}
}

@keyframes moveleft {
  0% {left:0px;}
  100% {left:-100%;}
}

@keyframes movemain1 {
  0% {left:100%;height:90%;}
  100% {left:0px;height:100%}
}

@keyframes moveright1 {
  0% {left:100%;}
  100% {left:0px;}
}

@keyframes moveleft1 {
  0% {left:100%;}
  100% {left:0px;}
}